bokeh
boltons
Bottleneck
Brotli
cads-api-client==1.4.7
Cartopy
cdsapi==0.7.4
certifi
cf_xarray
cffi
cftime==1.6.5
click
cloudpickle
contourpy
cycler
cytoolz
dask
Deprecated
distributed
donfig
et_xmlfile
filelock
flexcache
flexparser
fonttools
fsspec
google-crc32c
h2
h5netcdf==1.8.1
h5py==3.16.0
hpack
hyperframe
importlib_metadata
Jinja2
joblib
jsonpickle==4.1.1
kiwisolver
llvmlite==0.45.1
locket
lz4
markdown-it-py==4.0.0
MarkupSafe
matplotlib==3.10.6
mdurl==0.1.2
msgpack
multiurl==0.3.2
munkres==1.1.4
narwhals
netCDF4==1.7.4
numba
numcodecs
numpy==2.3.5
openpyxl
packaging
pandas
partd
patsy==1.0.2
pillow
Pint
platformdirs
psutil
pyarrow
pycparser
Pygments==2.19.2
pyparsing
pyproj
PyQt6==6.9.1
PyQt6_sip
pyshp
PySocks
python-dateutil
pytz
PyYAML
rich==14.2.0
scikit-learn==1.7.2
scipy==1.16.3
shapely
shellingham==1.5.4
sip
six
SkillMetrics==1.2.4
sortedcontainers
statsmodels==0.14.5
tblib
threadpoolctl
toolz
tornado
typer==0.20.0
typing_extensions
tzdata
unicodedata2
urllib3
wrapt
xarray
xclim
xsdba==0.5.0
xyzservices
yamale
zarr==3.1.6
zict
zipp
zstandard==0.25.0
